{% load static%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="g-k3hnMlXKnkcJ2JEQ4SuEV-PBh1yW9tCWIxpPwFKTI" />
<title>Shiv Marble and Granite - Indian & Imported Marble Exporter | Indian & Imported Granite Manufacturers | Kalinga Composite & Quartz in Rajsamand, Rajasthan</title>
<meta name="keywords" content="Top Stone Companies in India, Indian Granite Exporter, Imported Marble Manufacturers in India, Imported Granite Exporters, Marble and Granite Supplier from India, Exporter and Manufacturer of Granites, Rajasthan Granites, Kalinga Composite Exporter India, Kalinga Quartz Exporter and Manufacturer, Onyx Manufacturer in Rajsamand, Important Granites, Italian Granite in India, Granite Flooring, Kitchen Granite Slabs in Rajsamand, Shiv Marble and Granitech, Shiv Marble 
and Granite in Rajsamand, Rajasthan">
<meta name="description" content="Shiv Marble 
and Granite is an eminent Indian stone enterprise and a leading global brand. Having an experience of more than 30 years, the company today stands at the forefront of the natural and artificial stone industry."/>
<meta name="subject" content="Imported & Indian Stone Company Rajsamand, Rajasthan">
<meta name="copyright" content="Shiv Marble 
and Granite in Rajsamand, Rajasthan">
<meta name="language" content="english">
<meta name="robots" content="index,follow">
<meta name="abstract" content="The two pioneers of Shiv Marble 
and Granite, Mr Kailash Singhvi and Mr Mahaveer Singhvi, carry a strong conviction to achieve the zenith of heights. With their progressive and practical approaches, they have kept alive the soul and true essence of the company, since it's advent.">
<meta name="topic" content="A highly qualified technical section devoted to design study, development, and carrying-out of projects.">
<meta name="summary" content="Shiv Marble 
and Granite is an eminent Indian stone enterprise and a leading global brand. Having an experience of more than 30 years, the company today stands at the forefront of the natural and artificial stone industry.">
<meta name"classification" content="Shiv Marble and Granite has set up itself as an esteemed technologically - progressive stone company which is continually emerging to redefine and magnify the most mesmerizing creation, Mother Earth has honoured us with.">
<meta name="author" content="info@Shiv Marble and Granite.in">
<meta name="designer" content="Website Designed & Developed By: Webtech Softwares Pvt. Ltd.">
<meta name="reply-to" content="info@Shiv Marble and Granite.in">
<meta name="owner" content="Mahaveer Singhvi">
<meta name="url" {% static ' content=' %} "index.html">
<meta name="directory" content="submission">
<meta name="pagename" content="index-2.html">
<meta name="category" content="Business">
<meta name="coverage" content="Worldwide">
<meta name="distribution" content="Global">
<meta name="rating" content="General">
<meta name="revisit-after" content="10 days">
<meta name="subtitle" content="Indian & Imported Marble Exporter, Indian & Imported Granite Manufacturers, Kalinga Composite & Quartz in Rajsamand, Rajasthan">
<meta name="target" content="all">
<meta name="DC.title" content="Imported Marble, Indian Marble, Imported Granite, Indian Granite, Kalinga Composite, Kalinga Quartz
Onyx, Quartzite, Shiv Marble and Granitech">
<meta name="syndication-source" content="index.html">
<meta name="original-source" content="index.html">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="imagetoolbar" content="no">
<meta http-equiv="x-dns-prefetch-control" content="off">
<link rel="shortcut icon" href=" {% static 'images/favicon.ico' %} " type="image/x-icon">
<link rel="icon" href=" {% static 'images/favicon.ico' %} " type="image/x-icon">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<!-- Stylesheets -->
<link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} "/>
<link rel="stylesheet" href=" {% static 'css/font-awesome.min.css' %} "/>
<link rel="stylesheet" href=" {% static 'css/animate.css' %} "/>
<link rel="stylesheet" href=" {% static 'css/magnific-popup.css' %} "/>
<link rel="stylesheet" href=" {% static 'css/owl.carousel.css' %} "/>
<link rel="stylesheet" href=" {% static 'css/style.css' %} "/>
<link rel="stylesheet" type="text/css" href=" {% static 'css/to-top.css' %} " media="screen"/>
<link rel="stylesheet" href=" {% static 'css/menu.css' %} ">

</head>
<body>
        
<!-- Header section start -->   
<header class="transition tr-header">
<div class="row">
<div class="logo-holder col-lg-3 col-md-5 text-left">
<a href=" {% url 'main:index' %} ">
<img src=" {% static 'images/logo-new.png' %} " class="logoimg logo-notvis" alt="Shiv Marble and Granite" title="Shiv Marble and Granite">
<img src=" {% static 'images/logo-new.png' %} " class="logoimg logo-vis" alt="Shiv Marble and Granite" title="Shiv Marble and Granite"></a></div>

<div class="top-link1 col-lg-9 col-md-12">
<nav id='cssmenu'>
<div class="button"></div>
<ul>
	<li><a href="{% url 'main:index' %}">HOME</a></li>
	<li><a href="{% url 'main:thecompany' %}">About SMG</a>
	<ul>
		<li><a href="{% url 'main:thecompany' %}">The Company</a></li>
		<li><a href="{% url 'main:management' %}">Management</a></li>
		<li><a href="{% url 'main:stonecollection' %}">Products</a></li>
		<li><a href="{% url 'main:capacity' %}">Production Capacity</a></li>
	</ul>
	</li>
	<li><a href="{% url 'main:stonecollection' %}">STONE COLLECTION </a>
	<ul>
		<!-- From backend -->

        
{% for st in stoneALL %}
				
						<form action="{% url 'main:stone' %}" method="get">
							<input type="hidden" name="StoneType" value="{{ st.name }}">
							<button type="submit" style="border: none; margin-bottom: 1px;"><li><a>{{ st.name }}</a></li></button>			
						</form>			
					
		{% endfor %}
	</ul>
	</li>
	<li><a href="{% url 'main:stonecraft' %}">Stone Crafting Process</a></li>
	<li><a href="{% url 'main:whysmg' %}">WHY SMG?</a></li>
	<li><a href="{% url 'main:blogs' %}">BLOGS</a></li>
	<li><a href="{% url 'main:contact' %}">CONTACT US</a></li>
</ul>
</nav>
</div>
</div>
</header>
<!-- Header section end --> 
<!-- InstanceBeginEditable name="head" -->
<link href=" {% static 'css/lightgallery.css' %} " rel="stylesheet">
<link href=" {% static 'css/gallery.css' %} " rel="stylesheet">
<!-- Page header section start -->
	<section class="page-header-section set-bg" data-setbg="images/marble-header.jpg">
		<div class="container-fluid">
			<h1 class="header-title">Imported Marble</h1>
		</div>
	</section>
	<!-- Page header section end -->
    
    <!-- Team section start -->
	<section class="team-section">
		<div class="container-fluid">
			<div class="col-md-12 text-center">
                <h2>We believe in Quality, Credibility,<br />
Consistency & most Importantly – <span>Customer Satisfaction</span></h2>
			</div>
			
            
            <div class="demo-gallery margin-top">
            <ul id="lightgallery" class="list-unstyled row">
                
                {% for st in stones %}
                <li class="col-md-3 no-padding" data-src=" {{ st.image.url }} " data-sub-html="<h4>{{ st.name }}</h4>">
                    <a href="#">
                        <img class="img-responsive" src=" {{ st.image.url }} ">
                        <span>{{ st.name }} </span>
                        <div class="demo-gallery-poster">
                         <img src=" {{ st.image2.url }} ">
                    </div>
                    </a>
                </li>
                {% endfor %}
                <!-- <li class="col-md-3 no-padding" data-src=" {% static 'images/imported-marble/big/armani-beige.jpg' %} " data-sub-html="<h4>Armani Beige</h4>">
                    <a href="#">
                        <img class="img-responsive" src=" {% static 'images/imported-marble/armani-beige.jpg' %} ">
                        <span>Armani Beige</span>
                        <div class="demo-gallery-poster">
                         <img src=" {% static 'images/zoom.png' %} ">
                    </div>
                    </a>
                </li>
                
                
                <li class="col-md-3 no-padding" data-src=" {% static 'images/imported-marble/big/armani-grey.jpg' %} " data-sub-html="<h4>Armani Grey</h4>">
                    <a href="#">
                        <img class="img-responsive" src=" {% static 'images/imported-marble/armani-grey.jpg' %} ">
                        <span>Armani Grey</span>
                        <div class="demo-gallery-poster">
                         <img src=" {% static 'images/zoom.png' %} ">
                    </div>
                    </a>
                </li>
                
                
                <li class="col-md-3 no-padding" data-src=" {% static 'images/imported-marble/big/australian-white.jpg' %} " data-sub-html="<h4>Australian White</h4>">
                    <a href="#">
                        <img class="img-responsive" src=" {% static 'images/imported-marble/australian-white.jpg' %} ">
                        <span>Australian White</span>
                        <div class="demo-gallery-poster">
                         <img src=" {% static 'images/zoom.png' %} ">
                    </div>
                    </a>
                </li>
                
                
                <li class="col-md-3 no-padding" data-src=" {% static 'images/imported-marble/big/beige-traventine.jpg' %} " data-sub-html="<h4>Beige Traventine</h4>">
                    <a href="#">
                        <img class="img-responsive" src=" {% static 'images/imported-marble/beige-traventine.jpg' %} ">
                        <span>Beige Traventine</span>
                        <div class="demo-gallery-poster">
                         <img src=" {% static 'images/zoom.png' %} ">
                    </div>
                    </a>
                </li> -->
                

            </ul>
        </div>
            
            
            
		</div>
	</section>
	<!-- Team section end -->

<!-- InstanceEndEditable -->

<section class="promo-section">
<div class="promo-box">
<div class="container-fluid">
<div class="row">
<div class="col-lg-9 promo-text">
    <h1>In need of a <span>fabulous</span> home?</h1>
    <p>A highly qualified technical section devoted to design study, development, and carrying-out of projects.</p>
</div>
<div class="col-lg-3 text-lg-right">
    <a href=" {% url 'main:contact' %} " class="promo-btn">Contact Us Now!</a>
</div>
</div>
</div>
</div>
</section>


<a href="#" id="back-to-top" title="Back to top">
<div align="center"><img src=" {% static 'images/top-icon.png' %} " /></div>
</a>

<div class="ftr-section">
<div class="row">
<div class="col-md-3 col-lg-3 col-ds-6 col-rs-6 text-left ftr-border-right">
<div><a href=" {% url 'main:index' %} "><img src=" {% static 'images/logo-new.png' %} " /></a></div>
<div class="ftr-padding-top">
<p class="padding-top">Shiv Marble and Granite has mastered the skill of procuring supreme quality stone blocks from quarries around the world and processing with international standards to ensure that products of the finest quality reach its customers.</p>
<a class="more" href=" {% url 'main:thecompany' %} ">read more  <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
</div>
</div>

<div class="col-md-3 col-lg-3 col-ds-6 col-rs-6 text-left ftr-padding-left ftr-border-right ftr-padding-left">
<h3>BUSINESS ENQUIRY</h3>
<h4><strong>Shiv Marble 
and Granite</strong></h4>
<p><i class="fa fa-map-marker" aria-hidden="true"></i> Mahaveer Colony, Lalbagh Nathwara, Rajsamand, Rajasthan,313301</p>

<p><i class="fa fa-phone" aria-hidden="true"></i>Vikash Pachar <a href=" {% static 'tel:+91-8233333558' %} ">+91 8233333558</a></p>

<p><i class="fa fa-phone" aria-hidden="true"></i>Naseeb Gill <a href=" {% static 'tel:+917428684903' %} ">+91 7428684903</a></p>

<p><i class="fa fa-phone" aria-hidden="true"></i>Shivpal Singh Thakur <a href=" {% static 'tel:+91 6265391217' %} ">+91 6265391217</a></p>
</div>

<div class="col-md-3 col-lg-3 col-ds-6 col-rs-6 text-left ftr-border-right ftr-padding-left">
<h3>STONE COLLECTIOIN</h3>
<div class="ftr-padding-top">
{% for st in stoneALL %}
		<li>	
		<form action="{% url 'main:stone' %}" method="get">
			<input type="hidden" name="StoneType" value="{{ st.name }}">
			<button type="submit" style="border: none; margin-bottom: 1px;background: transparent;">
				<li style="border-bottom: none;"><a>{{ st.name }}</a></li>
			</button>			
		</form>			
		</li>
		{% endfor %}
</div>
</div>

<div class="col-md-3 col-lg-3 col-ds-6 col-rs-6 text-left ftr-padding-left">
<h3>USEFUL LINKS</h3>
<div class="ftr-padding-top">
    <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href=" {% url 'main:thecompany' %} ">About SMG</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href=" {% url 'main:stonecraft' %} ">Stone Crafting Process</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href=" {% url 'main:whysmg' %}">WHY SMG?</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href=" {% url 'main:blogs' %} ">Blogs</a></li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href=" {% url 'main:contact' %} ">Contact Us</a></li>
<a class="facebook" href="https://www.facebook.com/shivmarbleAndGranit/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
<a class="instagram" href="https://www.instagram.com/shiv_marble_granite/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
<a class="whatsapp" href="https://wa.me/9654435062" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
</div>
</div>
</div>
</div>


<div class="footer">
<div class="container-fluid">
<div class="row">
<div class="col-md-12 text-center">
<div class="weblink">Copyright © 2021 Shiv Marble and Granite.<br />
Website Designed &amp; Developed By: <a href=" {% static 'https://tarunsh.com/' %} " target="_blank">Devs Only</a></div>
</div>
</div>
</div>
</div>





<!--====== Javascripts & Jquery ======-->
<script src=' {% static '../cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js' %} '></script>
<script  src=" {% static 'js/script.js' %} "></script>
<script src=" {% static 'js/jquery-2.1.4.min.js' %} "></script>
<script src=" {% static 'js/bootstrap.min.js' %} "></script>
<script src=" {% static 'js/isotope.pkgd.min.js' %} "></script>
<script src=" {% static 'js/owl.carousel.min.js' %} "></script>
<script src=" {% static 'js/jquery.owl-filter.js' %} "></script>
<script src=" {% static 'js/magnific-popup.min.js' %} "></script>
<script src=" {% static 'js/circle-progress.min.js' %} "></script>
<script src=" {% static 'js/main.js' %} "></script>
<script type="text/javascript">
$(document).ready(function(){
$('#lightgallery').lightGallery();
});
</script>
<script src=" {% static 'js/lightgallery.js' %} "></script>
<script src=" {% static 'js/lg-fullscreen.js' %} "></script>
<script src=" {% static 'js/lg-thumbnail.js' %} "></script>
<script src=" {% static 'js/lg-autoplay.js' %} "></script>
<script src=" {% static 'js/lg-zoom.js' %} "></script>
<script>
if ($('#back-to-top').length) {
var scrollTrigger = 100, // px
backToTop = function () {
var scrollTop = $(window).scrollTop();
if (scrollTop > scrollTrigger) {
$('#back-to-top').addClass('show');
} else {
$('#back-to-top').removeClass('show');
}
};
backToTop();
$(window).on('scroll', function () {
backToTop();
});
$('#back-to-top').on('click', function (e) {
e.preventDefault();
$('html,body').animate({
scrollTop: 0
}, 700);
});
}
</script>
<script>
$(window).scroll(function() {
if ($(this).scrollTop() > 250){  
$('header').addClass("sticky");
}
else{
$('header').removeClass("sticky");
}
});
</script>
</body>
<!-- InstanceEnd -->
</html>
