#back-to-top {
    position:fixed;
    bottom:120px;
	right:0;
    z-index: 99999;
	height:auto;
    cursor: pointer;
    transition: opacity 0.2s ease-out;
    opacity:0;
}
#back-to-top:hover {
opacity:0;
}
#back-to-top.show {
    opacity: 1;
}

#back-to-top img {
float:left;
width:60%;
}
@media (min-width: 1024px) and (max-width: 1080px) {
#back-to-top {
right:0;
}
#back-to-top img {
width: 80%;
}
}
@media (min-width: 900px) and (max-width: 1023px) {
#back-to-top {
right:0;
}
#back-to-top img {
width: 80%;
}
}
@media (min-width: 800px) and (max-width: 991px) {
#back-to-top {
display:none;
}
#back-to-top img {
width: 80%;
}
}
@media (min-width: 320px) and (max-width: 799px) {
#back-to-top {
display:block;
bottom:80px;
right: -20px;
}
#back-to-top img {
width:50%;
}
}